<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Retail Review - Home</title>
</head>

<body>
    <div class="container">
        <p class="text-end"><a href="/profile">Your Account</a> | <a href="/logout">Logout</a></p>
        <h2>Welcome {{user.first_name}}!</h2>
        <div class="row">
            <div class="recent_reviews col-md-5">
                <h4>Recent Reviews</h4>
                {% for review in reviews %}
                <div class="review border border-3 border-dark p-2 m-2">
                    <h6><a href="/retailer/{{review.retailer.id}}">{{review.retailer.retailer}}</a></h6>
                    <p>{{review.retailer.type}} | {{review.retailer.specialty}} | {{review.retailer.city}},
                        {{review.retailer.state}}</p>
                    <p>{{review.review}}</p>
                    <p>Reviewed by: <a href="/user/{{review.author.id}}">{{review.author.first_name}}</a></p>
                    <p><a href="/review/{{review.id}}/like1">Like</a> | {{review.likes.count}} Like(s)</p>
                </div>
                {% endfor %}
                <p><a href="/reviews">View More Reviews</a></p>
                <p><a href="/add_review">Add A Review</a></p>
            </div>
            <div class="blank col-md-2"></div>
            <div class="recent_retailers col-md-5">
                <h4>Recently Added Retailers</h4>
                {% for retailer in retailers %}
                <div class="retailer border border-3 border-dark p-2">
                    <h6><a href="/retailer/{{retailer.id}}">{{retailer.retailer}}</a></h6>
                    <p>{{retailer.type}} | {{retailer.specialty}}</p>
                    <p>{{retailer.city}}, {{retailer.state}}</p>
                    <p>Added On: {{retailer.created_at}}</p>
                </div>
                {% endfor %}
                <p><a href="/retailer/all">View More Retailers</a></p>
                <p><a href="/add_retailer">Add A Retailer</a></p>
            </div>
        </div>
    </div>
</body>